@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Secular+One&family=Source+Code+Pro&display=swap');
body {
    max-width: 890px;
    margin: 0 auto;
    color: #577590;
    font-family: 'Lato', sans-serif;
}

header {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #b6ccfe;
    border-radius: 40px;
    box-shadow: 5px 5px 15px 5px #e2eafc;
    margin-bottom: 30px;
}
main {
    margin: 15px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background-color: #b6ccfe;
    border-radius: 40px;
    box-shadow: 5px 5px 15px 5px #e2eafc;
    padding: 10px;
    margin-top: 30px;
}

img {
    max-width: 180px;
    border-radius: 20px;
}
h3 {
    font-size: 42px;
} 

ul > li {
    font-family: 'Source Code Pro', monospace;
}
ul > li > a {
    color: #ff7096;
}
.main__title {
    border-bottom: 1px solid #abc4ff;
}

.main__footer-info {
    border-top: 1px solid #abc4ff;
}

.footer__copyright {
    font-size: 22px;
    color: white;
}
.footer__last-update{
    font-size: 18px;
    color: #ff7096;
}